<a href="https://colab.research.google.com/github/kimyeseong984/ABCD-A/blob/main/%EC%9E%85%EB%A0%A5%EA%B3%BC_%EB%B0%98%EB%B3%B5%EB%AC%B8_%EC%82%AC%EC%9A%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# str = input("How old are you")
# print(str+' years old', sep='')

How old are you12
12 years old

In [ ]:
# x = int(input('number : '))
# print(x)

number : 34
34

In [ ]:
#  x = float(input('number : '))
#  print(x)

number : 12.412
12.412

In [ ]:
# year = input("This year: ")
# year = eval(year)
# year = year + 1
# print("next year", year)

This year: 2025.0
next year 2026.0

In [5]:
# i = 0
# result = 0
# while i < 5:
#    print(f'{i} 번째',end= "")
#    a = input("성적 입력: ")
#    result += int(a)
#    i += 1
# print(f'합 : {result}')
# print(f'평균 : {result / 5}')

0 번째성적 입력: 30
1 번째성적 입력: 50
2 번째성적 입력: 60
3 번째성적 입력: 30
4 번째성적 입력: 40
합 : 210
평균 : 42.0

In [6]:
# test_list = ['one', 'two', 'three']
# for i in test_list:
#     print(i)

one
two
three

In [10]:
# for i in range(1,10):
#    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
# result = 0
# for a in range(1,101):  #1 ~ 100
#    result = result + a
#    print(f"{a} sum {result}")

# print(result)

1 sum 1
2 sum 3
3 sum 6
4 sum 10
5 sum 15
6 sum 21
7 sum 28
8 sum 36
9 sum 45
10 sum 55
11 sum 66
12 sum 78
13 sum 91
14 sum 105
15 sum 120
16 sum 136
17 sum 153
18 sum 171
19 sum 190
20 sum 210
21 sum 231
22 sum 253
23 sum 276
24 sum 300
25 sum 325
26 sum 351
27 sum 378
28 sum 406
29 sum 435
30 sum 465
31 sum 496
32 sum 528
33 sum 561
34 sum 595
35 sum 630
36 sum 666
37 sum 703
38 sum 741
39 sum 780
40 sum 820
41 sum 861
42 sum 903
43 sum 946
44 sum 990
45 sum 1035
46 sum 1081
47 sum 1128
48 sum 1176
49 sum 1225
50 sum 1275
51 sum 1326
52 sum 1378
53 sum 1431
54 sum 1485
55 sum 1540
56 sum 1596
57 sum 1653
58 sum 1711
59 sum 1770
60 sum 1830
61 sum 1891
62 sum 1953
63 sum 2016
64 sum 2080
65 sum 2145
66 sum 2211
67 sum 2278
68 sum 2346
69 sum 2415
70 sum 2485
71 sum 2556
72 sum 2628
73 sum 2701
74 sum 2775
75 sum 2850
76 sum 2926
77 sum 3003
78 sum 3081
79 sum 3160
80 sum 3240
81 sum 3321
82 sum 3403
83 sum 3486
84 sum 3570
85 sum 3655
86 sum 3741
87 sum 3828
88 sum 3916
89 sum 4005
90 sum 4095
91 sum 4186
92 sum 4278
93 sum 4371
94 sum 4465
95 sum 4560
96 sum 4656
97 sum 4753
98 sum 4851
99 sum 4950
100 sum 5050
5050

In [42]:
# result = 0
# for a in range(1,101):  # 1 ~ 100
#     result = result + a   # a를 더해주고
#     print(f'{a} : sum = {result}')     # 그때의 a값을 출력
# result = 0
# for a in range(1,101):  # 1 ~ 100
#     result = result + a   # a를 더해주고
#     print(f'{a} : sum = {result}')     # 그때의 a값을 출력

#     if result > 100:   # result가 100이 넘었을때
#         break

# print(result)

In [51]:
# index = 0
# s = "BlockDMask"
# for a in s:
#   print(a,end='')
#   if a == 'k':
#   break    # 'k'를 찾았으니 for문에서 나와랏!

#   index = index + 1

# print(index)   # 'k'가 첫번째로 존재하는 위치 출력

In [79]:
# student = [180, 170, 164, 199, 182, 172, 177]
# for a in student:
#   if a > 170:

#     continue  # 키가 170보다 크면 continue

# print(a)

In [81]:
# result = 0
# for a in range(1,101):  #1 ~ 100
#     if a % 2 == 0:          #2로 나누었을때 나머지가 1
#         result = result + a

# print(result)

In [83]:
#  1 = ['Alice', 'Bob', 'charile']

#  for name in 1:
#       if name == 'Bob':
#         print("BREAK!")
#         break
#       print(name)
#  else:
#    print('!!FINISH!!')

In [87]:
# for name in 1:
#   if name == 'Bob':
#     print("BREAK!")
#     break
#     print(name)
# else:
#   print("!! FINISH")
# # Alice
# # !!BREAK!!

In [90]:
# sr = ['father', 'mother', 'brother']
# cnt = 0
# for s in sr:
#   for c in s:
#     if c == 'r':
#       cnt += 1
# print(cnt)

4

In [91]:
# a = []    # 빈 리스트 생성
# for i in range(10):
#   a.append(0)     # apped로 요소 추가

# print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [92]:
# a = []   # 빈 리스트 생성

# for i in range(3):
#     line = []     # 안쪽 리스트로 사용할 빈 리스트 생성
#     for j in range(2):
#         line.append(0)     # 안쪽 리스트에 0 추가
#     a.append(line)         # 전체 리스트에 안쪽 리스트를 추가

# print(a)

[[0, 0], [0, 0], [0, 0]]

In [100]:
# 1 = ['Alice', 'Bob', 'charile']

# for name in 1:
#   print(name)


# for i, name in enumerate(1):
#   print(i, name)