<a href="https://colab.research.google.com/github/kimyeseong984/ABCD-A/blob/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%A1%B0%EA%B1%B4%EB%AC%B8/%EC%A1%B0%EA%B1%B4%EB%AC%B8_%EC%82%AC%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# name = "test"
# if name == "test"
#  print("이름이 맞습니다.")
# else:
#  print("이름이 틀립니다.")


poket = 500
if poket == 100:
  print("복권 구매")
elif poket == 500:
  print("껌 구매")
else:
  print("집")

껌 구매

In [ ]:
a = "사과"
b = "바나나"
c = "치즈"
if a == " 사과" or b == "안바나나":  # true
  print("사고 이거나 바나나 입니다.")
if a == "사과" and b == "바나나":  # true
  print("사과 이고 바나나 입니다.")
if not a == "사과":  # a가 사과인데 not 이므로 false
  print("사과가 아니어야 여기 들어옵니다.")

사과 이고 바나나 입니다.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
if 1 in a:
  print("a 리스트에 1이 포함되어있습니다.")
elif 10 in a:
  print("a 리스트에 10이 포함되어있습니다.")

a 리스트에 1이 포함되어있습니다.

In [1]:
p_class = "Z"
sel_amount = 79900\

if p_class == "A": # 55930.0
   sel_amount *= 0.7
   print(f'판매가는  {sel_amount}원 입니다.')
elif p_class == "B": # 67915.0
   sel_amount *= 0.85
   print(f'판매가는  {sel_amount}원 입니다.')
elif p_class == "C": # 73508.0
   sel_amount *= 0.92
   print(f'판매가는  {sel_amount}원 입니다.')
elif p_class == "Z": # 84900
   sel_amount += 5000
   print(f'판매가는  {sel_amount}원 입니다.')

판매가는  84900원 입니다.

In [2]:
x = 11

if x < 10:
  print("x는 10보다 작아!.")
else:
  print("x는 10 보다 작지 않아!")

x는 10 보다 작지 않아!

In [3]:
x = 2

if x%2 == 0:
  print("x는 짝수야! ")
else:
  print("x는 홀수야!")

x는 짝수야!

In [4]:
x = 3

if x < 10:
  print('x는 10보다 작아!')
  if x%2 == 0:
    print('x는 짝수야!')
  else:
    print('x는 홀수야!')
else:
  print('x는 10보다 커!')
  if x%2 == 0:
    print('x는 짝수야!')
  else:
    pritnt('x는 홀수야!')

x는 10보다 작아!
x는 홀수야!

In [5]:
if x<10 and x%2==0:
    print('x는 10보다 작으면서 짝수야!')
if x<10 and not x%2==0:
    print('x는 10보다 작으면서 홀수야!')
if not x<10 and x%2==0:
    print('x는 10보다 크면서 짝수야!')
if not x<10 and x%2==0:
    print('x는 10보가 크면서 홀수야!')

x는 10보다 작으면서 홀수야!

In [7]:
treeHit = 0

while treeHit < 10:
  treeHit =treeHit + 1
  print("나무를 %d번 찍었습니다."% treeHit)
  if treeHit == 10:
    print("나무가 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [12]:
coffee = 10
money = 300
while money:
  print("돈을 받았으니 커피를 줍니다.")
  coffee = coffee -1
  print("남은 커피의 양은 %d개입니다."% coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.
Ctrl를 눌러야 while문을 빠져나갈 수 있습니다

In [14]:
print("Ctrl를 눌러야 while문을 빠져나갈 수 있습니다.")

Ctrl를 눌러야 while문을 빠져나갈 수 있습니다.

In [16]:
i = 0
result1 = 0
while i < 100:
    i = i + 1
    if i % 2 == 0:
      result1 = result1 + i
print('1번 방법 : {0}'.format(result1))

1번 방법 : 2550

In [17]:
j = 0
result2 = 0
while True:
  if j > 100:
      break

  j = j + 1
  if j % 2 == 0:
      result2 = result2 + j

print('2번 방법 (break) : {0}'.format(result2))

2번 방법 (break) : 2550

In [24]:
k = 0
result3 = 0
while k < 100:
  k = k + 1
  if k % 2 !=0:
      continue

  result3 = result3 + k

print('3번 방법 (continue) : {0}'.format(result3))

3번 방법 (continue) : 2550