<a href="https://colab.research.google.com/github/kimyeseong984/ABCD-A/blob/%ED%8C%8C%EC%9D%B4%EC%8D%AC-300%EC%A0%9C-11-14/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_11_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [3]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print("시가총액", 시가총액)
print("현재가", 현재가)
print("PER", PER)

시가총액 298000000000000
현재가 50000
PER 15.79

In [5]:
s = "hello!"
t = "python"
print(s + t)

hello!python

In [10]:
s = 2
t = 3
print(s+s*t)

8