<a href="https://colab.research.google.com/github/kimyeseong984/ABCD-A/blob/20250310/%ED%94%84%EB%A6%B0%ED%84%B0_%ED%95%A8%EC%88%98_%EC%82%AC%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello")

Hello

In [3]:
print('hello', 'everyone')

hello everyone

In [4]:
print('hello', end='!!!')
print('test')

hello!!!test

In [6]:
print('hello', end='   ')
print('test')

hello   test

In [7]:
a = 123

b = 'hello'

print(a, b)

print(a, 456, b, 'world')

123 hello
123 456 hello world

In [10]:
print('Hello "Python"')
print("Hello 'Python'")
print('Hello','Python!')
print('Hello' + 'Python!')

Hello "Python"
Hello 'Python'
Hello Python!
HelloPython!

In [12]:
print("화면에 직접 출력")
print('ab\'c')
print("ab'c")

print("doesn't")
print('does')
print('doesn\'t')
print("'string'")
print("\"string\"")
print('"string"')

화면에 직접 출력
ab'c
ab'c
doesn't
does
doesn't
'string'
"string"
"string"

In [14]:
s1='화면에 직접 출력'
s2='ab\'c'
s3='does'
print(s1)
print(s2)
print(s3)
print(s1[0])#첫 글자
print(s2[1])#두 번째 글자
print(s3[1:3])
print(s3[-1])#마지막 글자
print(s3[-2])#뒤에서 두 번째

화면에 직접 출력
ab'c
does
화
b
oe
s
e

In [16]:
a=2
b=3.14777
c=a+b
print(a)
print(b)
print(c)
print(round(c,2))
print("%.2f"%(c))
print(a+b)
print(a,b,a+b,c)
d=1e2
e=1e-2
print(d)
print(e)

2
3.14777
5.1477699999999995
5.15
5.15
5.1477699999999995
2 3.14777 5.1477699999999995 5.1477699999999995
100.0
0.01

In [17]:
item1='사과'
price1=1000
item2='바나나'
price2=500
print(item1, price1)
print(item2, price2)

사과 1000
바나나 500

In [20]:
str1='{0}은 {1}원 입니다'.format(item1, price1)
str2='{0}은 {1}원 입니다'.format(item2, price2)
print(str1)
print(str2)

사과은 1000원 입니다
바나나은 500원 입니다

In [19]:
item1='사과'
price1=1000
item2='바나나'
price2=500
print(item1, price1, sep=',',end='/')
print(item2, price2, sep=',')

사과,1000/바나나,500